.wrapBtns {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1vw;
  position: fixed;
  color: rgb(78, 76, 76);
}

.wrapPage {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  gap: 1vh;
  padding: 10px;
  background-color: white;
  color: rgb(78, 76, 76);
}

.config {
  display: flex;
  flex-wrap: wrap;
}

.mapa {
  height: 500px;
}